html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border: none;
}


.logo {
  width: 60px;
  height: 60px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 100%;
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
}

section {
  padding: 100px 0;
}  

p {
  font-family: 'Montserrat', sans-serif;
}
/* ====01. Homepage Background Image==== */

.home_bg {
  background-image: url(./image/banner2.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.container_table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.container_table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_table_cell h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 54px;
}

.social_icons a {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  margin-right: 7px;
background-image: none
}


/* ===== 02. About Me ===== */


 h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.summary {
  display: flex;
  flex-flow: row wrap;
}

 .col-left, .col-right {
  width: 100%;
  padding: 10px 15px;
}

 .personal-info h3 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 6px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;

}

 .personal-info p {
  font-size: 20px;
  color: #767676;
  line-height: 24px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

 .skill {
  margin: 30px auto;
}

 .skill li {
  font-size: 15px;
  line-height: 35px;
  /* text-transform: capitalize; */
}

.button-group {
  display: flex;
  flex-flow: row wrap;
}

 .button-group .download_cv, .button-group .hire_me {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}



 .button-group a {
  display: block;
  color: #000;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 38px;
  text-transform: capitalize;
  background-image: none
}

 .button-group a:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

/* ===== 03. Resume ====== */
.resume {
  background-color: #f7f7f7
}
.col-horizontal {
  padding-bottom: 16px;
  border-bottom: 1px solid #767676;
  display: flex;
  flex-flow: row wrap
  
}

 .col-horizontal:last-child {
  border-bottom: 0;
}

 h3.resume-subtitle {
  font-size: 25px;
  margin-left: 15px;
  margin-top: 12px;
  text-transform: capitalize;
  width: 100%;
  font-family: 'Montserrat',sans-serif;
}

 .col-horizontal .col-item {
  width: 100%;
  padding: 0 15px;
}

 .experience-year {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 4px 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

 .resume-detail h4 {
  font-size: 18px;
  color: rgb(26, 75, 165);
  line-height: 20px;
  margin-bottom: 10px;
  /* text-decoration: underline; */
  font-family: 'Montserrat',sans-serif;
}

 .resume-detail ul {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 9px;
  text-transform: capitalize;
  font-family: 'Montserrat',sans-serif;
}



/* ===== 04. Latest Work ===== */

/* .works {
  background-color: #f7f7f7;
} */

.work-items {
  display: flex;
  flex-flow: row wrap
}

 .col-work {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 40px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.col-work:hover {
  top: -5px
}

.col-work h5 {
  color: rgb(65, 47, 30);
font-size: 28px
}

 .col-work a {
  background-image: none;
  color: rgb(26, 75, 165);
  font-size: 15px;
  margin-right: 5px;
}

 .col-work a:hover {
  text-decoration: underline;
}

.col-work ul {
  color: gray
}
/* ===== 05. Contact ===== */
.contact {
  background-color: #f7f7f7
}

.contact p{
font-size: 20px;
}

.contact p a {
background-image: none;
}
/* ===== 06. Footer ===== */

footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 15px;
}
.footer-social-icon a {
background-image: none;
}

@media screen and (min-width: 768px) {
  /* ====01. Basic Setting==== */
  .container {
    width: 85%;   
  }
  /* ====02. Header==== */
  .menu-button, .menu-button-checkbox {
    display: none;
  }
  
  .nav {
    display: block;
    float: right;
    width: auto;
    position: static;
  }

  .nav li {
    display: inline-block;
    border: 0px;
    padding: 0px;
  }

  .nav li a {
    color: #fff;
    text-transform: capitalize;
    display: block;
    padding: 10px 12px;
  }

  /* ===== 04. About Me ===== */
  
  .col-left, .col-right {
    width: 50%
  }
  
  .button-group .download_cv, .button-group .hire_me {
    width: auto;
  }

  .button-group .download_cv {
    margin-right: 18px;
  }
  
  /* ===== 05. What I Offer =====*/
  
  .service-content {
    width: 33.333333%;
  }

  /* ===== 06. Resume ====== */
  
  .col-horizontal .col-item {
    width: 50%;
  }

  /* ===== 08. Latest Work ===== */
  
  .col-work {
    width: 33.33333333%;
  }

  /* ===== 09. Contact ===== */
  
  .contact-form {
    width: 65%;
  }
  
  .contact-form .form-input:first-child, .contact-form .form-input:nth-child(2) {
    width: 50%;
  }

  .hello {
    animation-duration: 2s;
  }

}